apiVersion: k6.io/v1alpha1
kind: TestRun
metadata:
  name: {{ name }}
  labels:
    app: breaking-bench
    mode: {{ mode }}
spec:
  parallelism: {{ parallelism }}
  script:
    configMap:
      name: {{ name }}
      file: script.js
  runner:
    metadata:
      labels:
        app: breaking-bench
        mode: {{ mode }}
    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchLabels:
                app: breaking-bench
                mode: {{ mode }}
            topologyKey: kubernetes.io/hostname
    image: {{ image }}
    env:
    - name: WRITE_URL
      value: {{ write_url | tojson }}
    - name: SELECT_URL
      value: {{ select_url | tojson }}
    - name: METRICS_URL
      value: {{ metrics_url | tojson }}
    - name: K6_PROMETHEUS_RW_SERVER_URL
      value: {{ metrics_url | tojson }}
    - name: K6_PROMETHEUS_RW_TREND_STATS
      value: "p(99),p(95),avg,sum"
    - name: K6_OUT
      value: "experimental-prometheus-rw"
    resources:
      requests:
        cpu: {{ cpu_request | tojson }}
        memory: {{ memory_request | tojson }}
  arguments: --tag testid={{ mode }}
